<template>
    <div>
        <h1>Hello {{ name }}!</h1>
        <p>{{ users }}</p>
        <p>{{ user }}</p>
    </div>
</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                required: true
            }
        },
        computed: {
            users() {
                return this.$store.state.users
            },
            user() {
                return this.$store.getters['users/test']
            },
        }
    }
</script>

<style scoped>
    h1 {
        color: blue;
    }
</style>
