<template>
    <div>
        <HelloWorld name="World"></HelloWorld>
    </div>
</template>

<script>
    import HelloWorld from './components/HelloWorld.vue'

    export default {
        components: {
            HelloWorld
        }
    }
</script>
